
        * {
            margin: 0;
            box-sizing: border-box;
        }

        body {
            height: 100vh;
    margin: 50px 0;
}
        

        .trafficLight {
            width: 100px;
            height: 300px;
            background: black;
            margin: auto;
        }

        .trafficLight__box {
            height: 100px;
            /* border: 1px solid gray; */
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .trafficLight__circle {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            background: gray;
            cursor: pointer;

        }

        .trafficLight__stend {
            height: 350px;
            width: 30px;
            background: gray;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .trafficLight__btn {
            height: 20px;
            width: 20px;
            background: red;
            border-radius: 50%;
            cursor: pointer;
            margin: 30px;
        }
        .clear__trafficLight__btn {
            height: 20px;
            width: 20px;
            background: rgb(2, 52, 32);
            border-radius: 50%;
            cursor: pointer;
        }

    